<%- include('../partials/header') %>
<h2>Create user</h2>
<form action="/users" method="POST">
<label>Name: <input type="text" name="name" required></label><br>
<label>Email: <input type="email" name="email" required></label><br>
<label>Role: <input type="text" name="role" value="user"></label><br>
<label>password: <input type="password" name="password" required></label><br>
<button type="submit">Create</button>
</form>
